.banner-heading {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 45px;
}

.banner-heading span {
    color: #80b53b;
    display: block;
    font-weight: 300;
}
.liststyle {
    display: inline-block;
    width: 100%;
}
.liststyle li{
    list-style: none;
}

.liststyle li p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    background-image: url(https://toneopeats.com/public/img/leaf.webp);
    background-position: left 4px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 39px;
}

.second-banner-img{
    width: 130%;
    margin-top: -50px;
    margin-left: -100px;
}