.logoText{
    padding-left: 0px;
    width: 246px;
    top: 3px;
}
.logoText img {
    margin-right: 7px;
    height: 46px;
    vertical-align: -13px;
    left: 0;
    top: 0;
}

.toplink a {
    color: #3A3A3A;
    font-weight: 500;
    margin: 0px 11px;
    text-decoration: none !important;
}
.active {
    color: #80b53b !important
}
.toplink a:hover {
    color: #80b53b;
}
.center-menu{
    margin-top: 6px;
}

.navbar{
    background-color: #fff !important;
}